* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.kaico-banner {
	color: yellow;
    font-size: 100px;
}

/*#rectangle {
     width: auto;
	 height: 250px;
	 background: red;
}*/

.flex-header-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.flex-sub-header-container {
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
}

.flex-links {
    /*border: 1px solid #fff;*/
    width: 900px;
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.flex-title {
    display: flex;
    justify-content: center;
}

.flex-menu-container {
	color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.flex-menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.flex-item1 {

}

.flex-item2 {

}

.flex-item3 {

}

.flex-item4 {

}

.flex-item5 {

}

.flex-body {
    color: #7cba06;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    /*justify-content: center;*/
}